{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd"
        // "style": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@assets": "./src/assets",
          "@assets/*": "./src/assets/*",
          "@Test/*": ["test/pages/*"],
          "@shared": "./src/shared",
          "@shared/*": "./src/shared/*",
          "@layout": "./src/shared/layout",
          "@layout/*": "./src/shared/layout/*",
          "@utils": ["./src/utils"],
          "@utils/*": ["./src/utils/*"],
          "@modules": "./src/modules",
          "@modules/*": "./src/modules/*"
        }
      }
    ]
  ]
}
