.social-button {
  width: 100%;
  color: #fff;
}
.social-button:hover {
  color: #fff;
}

.social-button.facebook {
  width: 100%;
  background-color: #4267b2;
}

.social-button.google {
  width: 100%;
  background-color: #4267b2;
}